<div class="p-5 mt-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="d-flex tooth tooth">
                    <div class="mr-3 ml-4">
                        <i class="fas fa-tooth tooth-icon"></i>
                    </div>
                    <div class="tooth-text">
                        <p><strong>Pelsall Lane</strong></p>
                        <p>Dental Practice</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col">
                        <p><strong>Useful Links</strong>
                        </p>
                        <p class="m-0">
                            <%= link_to "About", about_path %>
                        </p>
                        <p class="m-0">
                            <%= link_to "Our Team", team_path %>
                        </p>
                        <p class="m-0">
                            <%= link_to "Membership", membership_path%>
                        </p>
                    </div>
                    <div class="col">
                        <p><strong>Our Treatments</strong>
                        </p>
                        <p class="m-0">
                            <%= link_to "General Denistry", general_path %>
                        </p>
                        <p class="m-0">
                            <%= link_to "Facial Treatments", facial_path %>
                        </p>
                        <p class="m-0">
                            <%= link_to "Cosmetic Treatments", cosmetic_path%>
                        </p>
                    </div>
                    <div class="col">
                        <p><strong>Contact Us</strong>
                        </p>
                        <p class="m-0">
                            01922 640554
                        </p>
                        <p class="m-0">
                            pelsalldental@live.co.uk
                        </p>
                    </div>
                    <div class="col">
                        <p><strong>Our Address</strong>
                        </p>
                        <p class="m-0">
                            33B Pelsall Lane
                        </p>
                        <p class="m-0">
                            Rushall
                        </p>
                        <p class="m-0">
                            Walsall WS4 1NA
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
