<div class="p-5 mt-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="d-flex tooth tooth">
                    <div class="mr-3 ml-4">
                        <i class="fas fa-tooth tooth-icon"></i>
                    </div>
                    <div class="tooth-text">
                        <p><strong>Pelsall Lane</strong></p>
                        <p>Dental Practice</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <p><strong>Useful Links</strong>
                        </p>
                        <p class="m-0">
                            <%= link_to "About", about_path %>
                        </p>
                        <p class="m-0">
                            <%= link_to "Our Team", team_path %>
                        </p>
                        <p class="m-0">
                            <%= link_to "Membership", membership_path%>
                        </p>
                    </div>
                    <div class="col">
                        <p><strong>Useful Links</strong>
                        </p>
                        <p class="m-0">
                            <%= link_to "About", about_path %>
                        </p>
                        <p class="m-0">
                            <%= link_to "Our Team", team_path %>
                        </p>
                        <p class="m-0">
                            <%= link_to "Membership", membership_path%>
                        </p>
                    </div>
                    <div class="col">
                        <p><strong>Useful Links</strong>
                        </p>
                        <p class="m-0">
                            <%= link_to "About", about_path %>
                        </p>
                        <p class="m-0">
                            <%= link_to "Our Team", team_path %>
                        </p>
                        <p class="m-0">
                            <%= link_to "Membership", membership_path%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
