<section class="team-page py-4">
  <div class="team-main">

    <div class="team-title">
      <h1>Our Team</h1>
    </div>
    <div class="subheading">
    </div>
    <section class="staff-all">
      <div class="staff-card bg-light mt-4 mb-4 rounded">
        <div class="card-image">
          <%= image_tag "altaf.JPG", class:"team-image"%>
        </div>

        <div class="staff-text mt-lg-4 mt-0">
          <h4 class="staff-name">Dr Altaf Kotadia</h4>
          <strong><p class="staff-job">Principal Dentist</strong></p>

          <p class="staff-description">Principal Dentist. Dr Altaf Kotadia qualified from the University of Bristol in 1984 and has owned Pelsall Lane Dental Practice since 1991. <br>
            He is committed to looking after his patients and regularly boosts his knowledge by attending postgraduate courses in both dentistry and mediation training. <br>
            When not as work, you can find Dr Kotadia on the golf course where he is working towards lowering his handicap to single digits. He enjoys spending time with his family and travelling to new places. <br> <br>
          GDC NUMBER - 59345</p>
        </div>
      </div>
      <div class="staff-card bg-light mb-4 rounded">
        <div class="card-image">
          <%= image_tag "aleeya.JPG", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h4 class="staff-name">Dr Aleeya Kotadia</h4>
          <strong><p class="staff-job">Dentist</p></strong>
          <p class="staff-description">Aleeya has followed in her father’s footsteps and has been a member of the team since 2016.  <br>
            Since joining , Aleeya has furthered her learning by attending postgraduate courses so that she can carry out wrinkle -reducing treatment and Invisalign. She enjoys treating all patients and is particularly good at dealing with children and anxious patients. <br>
            In her spare time, Aleeya enjoys playing hockey for her local club, travelling and has a real passion for animals. <br> <br>
          GDC NUMBER - 251711</p>
        </div>
      </div>
      <div class="staff-card bg-light mb-4 rounded">
        <div class="card-image">
          <%= image_tag "donna.JPG", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h4 class="staff-name">Donna Kingston</h4>
          <strong><p class="staff-job">Practice Manager</p></strong>
          <p class="staff-description">Donna has been with the practice since 1987 working as a dental nurse and now our practice manager. <br>
She is a well-known face in the practice and patients appreciate her long-term commitment to their care and welfare. She has become the practices trusted first point of contact for any queries or concerns that you as a patient may have. <br>
In her spare time Donna enjoys walking her Westies Buddy and Barney, caravanning, going to the theatre and spending time with family and friends. <br> <br>
GDC NUMBER 125147</p>
        </div>
      </div>
      <div class="staff-card bg-light mb-4 rounded">
        <div class="card-image">
          <%= image_tag "emma.JPG", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h4 class="staff-name">Emma Brewer</h4>
          <strong><p class="staff-job">Dental Nurse</p></strong>
          <p class="staff-description">Emma joined our team in 2009 and has since been a valued member, not only in carrying out her nursing duties but also in offering further treatment such as tailored oral hygiene and fluoride application to our younger patients. <br>
            In her spare time, Emma enjoys following Liverpool FC, cooking and looking after her crazy cat Ollie. <br> <br>
            GDC NUMBER- 199054</p>
        </div>
      </div>
      <div class="staff-card bg-light mb-4 rounded">
        <div class="card-image">
          <%= image_tag "takiyah.JPG", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h4 class="staff-name">Takiyah Clarke</h4>
          <strong><p class="staff-job">Dental Nurse / Reception</p></strong>
          <p class="staff-description">Takiyah joined our growing team in 2016. <br>
            As well as a dental nurse and receptionist, Takiyah is also a qualified dental radiographer. She manages to balance work with a busy family and social life. <br>
            Takiyah has four children and a cute grandchild and enjoys spending quality family time. <br> <br>
            GDC NUMBER 185138</p>
        </div>
      </div>
      <div class="staff-card bg-light mb-4 rounded">
        <div class="card-image">
          <%= image_tag "charlotte.jpg", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h4 class="staff-name">Charlotte Wilkes</h4>
          <strong><p class="staff-job">Dental Nurse</p></strong>
          <p class="staff-description">Charlotte is our newest member of staff and is a dental nurse. <br>
            Charlotte passed her Level 3 Diploma in Dental Nursing in July 2019, after training with our practice for two years. <br>
            Outside work she enjoys going to the cinema and holidaying with friends. <br> <br>
            GDC NUMBER 286882</p>
        </div>

      </div>

    </section>
  </div>
</section>
