<section class="team-page py-3">
  <div class="team-main">

    <div class="team-title">
      <h1>Our Team</h1>
    </div>
    <div class="team-subtitle">
      <h4 class="team-subtitle-text">subtitle</h4>
    </div>
    <section class="staff-all">
      <div class="staff-card">
        <div class="card-image">
          <%= image_tag "altaf.JPG", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h3 class="staff-name">Dr Altaf Kotadia</h3>
          <h4 class="staff-job">Principal Dentist</h4>
          <p class="staff-description">Principal Dentist. Dr Altaf Kotadia qualified from the University of Bristol in 1984 and has owned Pelsall Lane Dental Practice since 1991. <br>
            He is committed to looking after his patients and regularly boosts his knowledge by attending postgraduate courses in both dentistry and mediation training. <br>
            When not as work, you can find Dr Kotadia on the golf course where he is working towards lowering his handicap to single digits. He enjoys spending time with his family and travelling to new places. <br> <br>
          GDC NUMBER - 59345</p>
        </div>
      </div>
      <div class="staff-card">
        <div class="card-image">
          <%= image_tag "aleeya.JPG", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h3 class="staff-name">Dr Aleeya Kotadia</h3>
          <h4 class="staff-job">Dentist</h4>
          <p class="staff-description">Aleeya has followed in her father’s footsteps and has been a member of the team since 2016.  <br>
            Since joining , Aleeya has furthered her learning by attending postgraduate courses so that she can carry out wrinkle -reducing treatment and Invisalign. She enjoys treating all patients and is particularly good at dealing with children and anxious patients. <br>
            In her spare time, Aleeya enjoys playing hockey for her local club, travelling and has a real passion for animals. <br> <br>
          GDC NUMBER - 251711</p>
        </div>
      </div>
      <div class="staff-card">
        <div class="card-image">
          <%= image_tag "donna.JPG", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h3 class="staff-name">Donna Kingston</h3>
          <h4 class="staff-job">Practice Manager</h4>
          <p class="staff-description">Donna has been with the practice since 1987 working as a dental nurse and now our practice manager. <br>
She is a well-known face in the practice and patients appreciate her long-term commitment to their care and welfare. She has become the practices trusted first point of contact for any queries or concerns that you as a patient may have. <br>
In her spare time Donna enjoys walking her Westies Buddy and Barney, caravanning, going to the theatre and spending time with family and friends. <br> <br>
GDC NUMBER 125147</p>
        </div>
      </div>
      <div class="staff-card">
        <div class="card-image">
          <%= image_tag "emma.JPG", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h3 class="staff-name">Emma Brewer</h3>
          <h4 class="staff-job">Dental Nurse</h4>
          <p class="staff-description">Principal Dentist. Dr Altaf Kotadia qualified from the University of Bristol in 1984 and has owned Pelsall Lane Dental Practice since 1991.
            He is committed to looking after his patients and regularly boosts his knowledge by attending postgraduate courses in both dentistry and mediation training.
            When not as work, you can find Dr Kotadia on the golf course where he is working towards lowering his handicap to single digits. He enjoys spending time with his family and travelling to new places.
          GDC NUMBER - 59345</p>
        </div>
      </div>
      <div class="staff-card">
        <div class="card-image">
          <%= image_tag "takiyah.JPG", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h3 class="staff-name">Takiyah Clarke</h3>
          <h4 class="staff-job">Dental Nurse / Reception</h4>
          <p class="staff-description">Principal Dentist. Dr Altaf Kotadia qualified from the University of Bristol in 1984 and has owned Pelsall Lane Dental Practice since 1991.
            He is committed to looking after his patients and regularly boosts his knowledge by attending postgraduate courses in both dentistry and mediation training.
            When not as work, you can find Dr Kotadia on the golf course where he is working towards lowering his handicap to single digits. He enjoys spending time with his family and travelling to new places.
          GDC NUMBER - 59345</p>
        </div>
      </div>
      <div class="staff-card">
        <div class="card-image">
          <%= image_tag "charlotte.jpg", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h3 class="staff-name">Charlotte Wilkes</h3>
          <h4 class="staff-job">Dental Nurse</h4>
          <p class="staff-description">Principal Dentist. Dr Altaf Kotadia qualified from the University of Bristol in 1984 and has owned Pelsall Lane Dental Practice since 1991.
            He is committed to looking after his patients and regularly boosts his knowledge by attending postgraduate courses in both dentistry and mediation training.
            When not as work, you can find Dr Kotadia on the golf course where he is working towards lowering his handicap to single digits. He enjoys spending time with his family and travelling to new places.
          GDC NUMBER - 59345</p>
        </div>

      </div>

    </section>
  </div>
</section>
